<div class="container mt-5 p-3" style="border: 1px solid #E0E3DA; border-radius: 10px; background-color: #f4f4f4;">
  <div class="row justify-content-center">
    <h2>URL Shortener</h2>
  </div>
  <div class="row justify-content-center mt-5">
    <i class="fas fa-link fa-5x" style="color: #84B1ED;"></i>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="mb-3">
      <h3>Success! Please use this link:</h3>
      <h4 id="copy" style="color: blue;">{{Url}}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" onclick="copyUrl('copy')" class="btn btn-primary" style="text-align:center;">Copy</button>
    <a href="/" type="button" class="btn btn-secondary ml-3">Back</a>
  </div>
</div>